@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: normal;
}
body{
    height: 100vh;   
}
.wrapper
{
    height: 100%;
    width: 100%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-container
{
    width: 70%;
    height: 90%;
    background-color: red;
    display: flex;
}
.left
{
    width: 40%;
    height: 100%;
    background-color: rgb(216, 216, 216);
    background-image: url(./bg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.right
{
    width: 60%;
    height: 100%;
    background-color: white;
    padding: 30px 50px;
}
.content
{
    /* background-color: green; */
    width: 100%;
    height: 100%;
}
.content-top
{
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.content-top p
{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}
.content-top button{
    padding: 5px 15px;
    border-radius: 25px;
    border:2px solid #6C63FF;
    text-transform: uppercase;
    font-weight: bold;
    background-color: transparent;
}
.content-middle
{
    margin-top: 20px;
}
.content-middle h1{
    font-weight: bold;
    letter-spacing: 1px;
}
.content-middle form{
    margin-top: 30px;
}
.content-middle form .input{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
    gap:8px;
    
}
.content-middle form .input input{
    padding: 10px;
    width: 80%;
    outline: none;
    border-radius: 8px;
    border: 2px solid #6C63FF;
    color: #6C63FF;
    font-weight: bold;
}
.content-middle form .input label{
    font-weight:bold;
}
.content-middle form .input button{
    width: 30%;
    outline:none;
    border:none;
    border-radius: 30px;
    background: #6C63FF;    
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    font-weight:bold;
    letter-spacing: 1px;
}
